In [2]:
import pandas as pd

In [19]:
df = pd.read_csv("C:\\Users\\gabrielvillas\\Downloads\\CURVA_CARGA_2023.csv", sep=";")
df.index.name = 'index'
df.drop("nom_subsistema", axis=1, inplace=True)
df['din_instante'] = pd.to_datetime(df['din_instante'], format='%Y-%m-%d %H:%M:%S')
df['din_instante'] = df['din_instante'].dt.strftime('%d.%m.%Y %H.%M.%S')
df.rename(columns={df.columns[0]: 'Subsistema', df.columns[1]: 'Din Instante', df.columns[2]: 'Val Cargaenergiaconmwmed'}, inplace=True)
df.head()

      Subsistema         Din Instante  Val Cargaenergiaconmwmed
index
0              N  01.01.2023 00.00.00                  5990.553
1             NE  01.01.2023 00.00.00                 10455.818
2              S  01.01.2023 00.00.00                 10273.827
3             SE  01.01.2023 00.00.00                 32183.885
4              N  01.01.2023 01.00.00                  5981.216

In [14]:
df.tail()

      Subsistema Val Cargaenergiaconmwmed  val_cargaenergiahomwmed
index
35035         SE      2023-12-31 22:00:00                38135.522
35036          N      2023-12-31 23:00:00                 6641.410
35037         NE      2023-12-31 23:00:00                12144.917
35038          S      2023-12-31 23:00:00                10365.647
35039         SE      2023-12-31 23:00:00                36060.076