In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("C:\\Users\\gabrielvillas\\Downloads\\ENA_DIARIO_SUBSISTEMA_2023.csv", sep=";")
df = df[['nom_subsistema', 'ena_data','ena_bruta_regiao_mwmed']]
df.index.name = 'index'
df.rename(columns={df.columns[0]: 'Subsistema', df.columns[1]: 'Din Instante', df.columns[2]: 'Enaarmazenavelmwmes'}, inplace=True)
rule = {'SUDESTE':'Sudeste', 'NORTE':'Norte', 'NORDESTE':'Nordeste', 'SUL':'Sul'}
df['Subsistema'] = df['Subsistema'].replace(rule)
df['Din Instante'] = pd.to_datetime(df['Din Instante'], format='%Y-%m-%d %H:%M:%S')
df['Din Instante'] = df['Din Instante'].dt.strftime('%d.%m.%Y %H:%M:%S')
df.head()

      Subsistema Din Instante  Enaarmazenavelmwmes
index
0          Norte   2023-01-01         17715.675781
1       Nordeste   2023-01-01         12355.788086
2            Sul   2023-01-01          6388.172852
3        Sudeste   2023-01-01         57324.421875
4          Norte   2023-01-02         18558.996094